.banner__card {
    width: 160px;
    height: 92px;
    border-radius: 16px;
    border: 2px solid red;
    box-sizing: border-box;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;

}