.banner {
    margin-top: 44px;
}
.banner__card {
    width: 160px;
    height: 92px;
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.08);
}
.banner__image {
    width: 100%;
    object-fit: cover;
}